/* Comentarios en CSS son en bloque */

h3 {
    color: green; 

}

/* input {
    border: 2px solid red
} */

[type='email']  {
    border: 2px solid red;
    box-shadow: 0 0 10px green;
}

[data-loquetedelagana='super'] {
    background-color: red;
}

/* * {
    border: 4px solid black
} */