* {
    box-sizing: border-box;

}

.padre {
    background-color: hotpink;
    border: 4px solid black; 
    width: min(90%, 800px);
    height: 50vh;
    margin-inline: auto; 
    display:flex; 
}

.hijo {
    background-color: gold;
    width: 50px;
    padding: 2rem;
    margin: .2rem; 
}

/* flex-grow */

.hijo-2 {
    background-color: blue;
    flex-grow:1; 
}

.hijo-4 {
    background-color:white;
    flex-grow: 2;
}

.hijo-3 {
    background-color: red;
    flex-shrink: 0;
    width: 100px;
}

/* flex-shrink es lo contrario de flex-grow */

