* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: min(90%, 800px);
    margin: 0 auto; 
  
}

.inline  {
    display: inline; 
}


h3 + p {
    color: violet; 
}

h3 ~ p {
    text-decoration: underline red;
    text-decoration-thickness: 4px; 
}


ul > li {
    border: 1px solid black; 
}

ul > li {
    color: lightblue; 
}

ul li {
    box-shadow: 4px 4px 10px black;
}

ul li.especial {
    background-color: blue;
}


.btn {
    background-color: green;
    border-radius: 5px; 
    font-size: 1.5rem; 
    border: none; 
    padding: 5px 10px; 
}

.btn:hover {
    background-color: red;
    cursor: pointer;
    border: 1px solid black; 
}

.btn:active {
    background-color: white;
}

.btn:focus {
    background-color: yellow;
}

.btn:focus-visible {
    background-color: rgb(205, 27, 208);
}
table {
    border-collapse: collapse
}

td {
    border: 1px solid black; 
    padding: 5px 10px; 
}

.tabla-1 tr:first-child {
    background-color: grey;
}

.tabla-1 tr:nth-child(3) {
    background-color: green;
}

ul li:first-child {
    background-color: blueviolet;
}

ul > li:first-child {
    color: red;
}

.tabla-2 {
    margin-block: 20px;
}

.tabla-2 tr:nth-child(4) {
    background-color: cyan;
}

.tabla-2 tr:nth-child(odd){

    background-color: lightcoral;

}

.tabla-3 tr:nth-child(3n) {
    font-weight: bold;
}

.tabla-3 tr:not(:nth-child(2n)) {
    text-decoration: underline indigo;
}

div.caja-truquito {
    background-color: lightcoral;
    height: 100px;
    text-align: center;
}

div.caja-truquito:hover p {
    background-color: blue;
}

.titulo-truquito:hover ~ p {
    background-color: red;
}

.titulo-truquito:hover + p {
    color: blue
}

input[type="checkbox"]:checked + label{
    box-shadow: 0 0 5px 3px blue;
}

input {
    display:none; 
}


.padre-has {
    background-color: red;
    border: 1px solid black; 
    height: 100px;
}

.hijo-has {
    background-color: blue;
    border: 2px solid white; 
    height: 20px;
}

.padre-has:has(.hijo-has:hover) {
    background-color: green;
}

body:has(.dark) {
    background-color: gray;
}

::selection {
    background: violet;
    color: blue
}



.supertitulo .antes {
    display: inline-block; 
    background-color: green ;
    height: 3px;
    width: 15px;
}

.supertitulo .despues {
    display: inline-block; 
    background-color: green ;
    height: 3px;
    width: 15px;
}

.supertitulo-cool::before {
    content: '';
    display: inline-block; 
    background-color: green ;
    height: 3px;
    width: 15px;
}
.supertitulo-cool::after {
    content: '';
    display: inline-block; 
    background-color: green ;
    height: 3px;
    width: 15px;
}

